body {
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Calibri;
    letter-spacing: 2px;
}

input, textarea{
    letter-spacing: normal;
}

main{
    margin-top: 54px;
}

/* Navigation */
nav {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background: rgba(0, 0, 0, 0.8);
    color: black;
}

nav ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: right;
}

nav ul li a{
    display: inline-block;
    color: #ffffff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    letter-spacing:normal;
}

.li-aquator-logo {
    float: left;
}

.aquator-logo {
    display: flex;
    height: auto;
    padding: 0.43rem;
}

.aquator-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

nav ul li a:hover{
    background-color: aliceblue;
    color: black;
}





/* Main gallery */
.main-gallery-section {

}

.main-gallery-section img{
    left: 50%;
	max-width: 99vw;
	right: 50%;
	width: 99vw;
}



/* Hello post section */
.hello-post-section {
    padding-top: 3rem;
    background-color: #2f2e2e;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    
}

.hello-post-section h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 10px solid white;
}

.hello-post-section div{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-right: 10px solid white;

}


/* News section */
.news-section {
}

.news-section h1{
    padding-top: 3rem;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    border-bottom: 10px solid rgba(0, 0, 0, 0.8);
    border-right: 10px solid rgba(0, 0, 0, 0.8);
}

.news-space {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    padding-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 10px solid rgba(0, 0, 0, 0.8);
}

.news-item {
    padding: 10px;
    margin: 1rem;
}

.news-item img {
    width: 100%;
    height: auto;
}


.news-details-button {
    display: grid;
    padding: 1rem;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


.news-details-button:hover {
    background-color: hsl(195, 100%, 50%);
    color: white;
}

.news-item:hover {
    box-shadow: 3px 3px 5px 6px #ccc;
}




/* Team section */
.team-section {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.team-section-title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
}

.team-section-info {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 10px solid white;
}

.team-section-details {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.team-member {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.team-member img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.team-member-details {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.member-personal-data{
    display: grid;
}

.member-personal-data-name{
    font-size:22px;
}

.member-personal-data-role {
    font-weight: 100;
}

.member-contact{
    padding: 1rem;
    font-weight:100;
}

.team-section-details-2{
    display: grid;
}

.team-section-info-2 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    border-bottom-right-radius: 10px;
}

.team-member-2 {
    padding-top: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 3rem;
    text-align: center;
    border-left: 10px solid white;
}

.team-member-2 img{
    height: 100%;
    width: auto;
}




/* Contact section */
.contact-section {
    background-color: white;
    display: grid;
}

.contact-section-title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 10px solid rgba(0, 0, 0, 0.8);
}

.contact-section-info {
    
    padding-left: 10%;
    padding-right: 10%;
    border-top: 10px solid rgba(0, 0, 0, 0.8);

}

.contact-section-border {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1rem;
    border-right: 10px solid rgba(0, 0, 0, 0.8);
}

.map-info {
    display: grid;
    margin: 1rem;
}

.map-container {
    padding: 1rem;
}

.map-container iframe {
   height: 400px;
   width: 100%;
}

.map-info-address{
    padding: 1rem;
    padding-top: 0;
}






.contact-form {
    margin: 1rem;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 450px;
    box-shadow: 1px 1px 5px 5px #ccc;
}

.contact-form form{
    display: grid;
}

.personal-data{
    display: grid;
    grid-template-columns: 50% 50%;
}

.label-firstname-class {
    grid-column-start:1;
    grid-row-start:1;
}

.input-firstname-class {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-right: 5px;
}

.label-lastname-class {
    grid-column-start: 2;
    grid-row-start: 1;
}

.input-lastname-class {
    grid-column-start: 2;
    grid-row-start: 2;
}

.contact-form input, textarea {
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact-form form textarea{
    height:150px;
    width: auto;
}

form input, textarea{
    border-radius: 10px;
}

.contact-form-button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
}

.contact-form-button:hover {
    background-color: hsl(195, 100%, 50%);
}



/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.03);
}

.footer-second-section {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.footer-details{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
}

.my-account-footer,
.product-footer,
.contact-footer{
    display: flex;
    justify-content: center;
}



.about-us-footer {
    display: grid;
}

.logo-text-menu a {
    font-size: 22px;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
}

.my-account-footer {
    display: grid;
    justify-content: center;
}

.my-account-footer label{
    text-align:center;
}

.my-account-footer a{
    text-align:left;
    text-decoration:none;
    color: #ffffff;
}

.product-footer {
    display: grid;
    justify-content: center;
}

.product-footer label {
    text-align: center;
}

.product-footer a {
    text-align: left;
    text-decoration: none;
    color: #ffffff;
}

.contact-footer {
    display: grid;
    justify-content: center;
}

.contact-footer label {
    text-align: center;
}

.contact-footer a {
    text-align: left;
    text-decoration: none;
    color: #ffffff;
}

.my-account-footer div,
.product-footer div,
.contact-footer div {
    display: grid;
    padding: 1rem;
    font-family: Calibri;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color:#2f2e2e;
}

.my-account-footer div label,
.product-footer div label,
.contact-footer div label {
    margin-bottom:1rem;
    font-size:22px;
    letter-spacing:2px;
}

.my-account-footer div:hover,
.product-footer div:hover,
.contact-footer div:hover {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: hsl(195, 100%, 70%);
    padding: 1rem;
}

.my-account-footer div a:hover,
.product-footer div a:hover,
.contact-footer div a:hover {
    color: hsl(195, 100%, 70%);
}

.footer-third-section {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.footer-third-section a{
    display: flex;
    justify-content: center;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
}