body {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Calibri;
}

/* Style the video: 100% width and height to cover the entire window */
#main-page-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.aquator-logo-main {
    position: fixed;
    width: 100%;
}

.aquator-logo-main a{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

/* Add some content at the bottom of the video/page */
.main-navigate {
    display: grid;
    grid-template-column: 20% 60% 20%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    margin: 0;
}

.main-navigate div a img{
    max-height: 50px;

}

.fb-logo{
    grid-column: 1;
}

.navigate{
    display: block;
    grid-column: 2;
}

.navigate ul{
  list-style: none;
  overflow: hidden;
}

.navigate ul li {
   margin: auto;
   float: left;
   width: 232px;
   height: 54px;
   text-align: center;
   line-height: 54px;
}

.navigate ul li a {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 50%;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
}

.user-area{
    grid-column: 3;
    margin: auto;
    float: left;
    width: 232px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    font-size: 22px;
    font-weight: 100;
}

.user-area a{
    height: 100%;
    background-repeat: no-repeat;
   
    color: white;
    text-decoration: none;
    
}

