@model UKSAquator.ViewModels.HomeViewModel
@*@model UKSAquator.Models.Gallery*@


@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_SportsClubLayout.cshtml";
}

<h2>Gallery</h2>

<main>
    <div class="gallery-container">



        <div class="event-gallery">
            @foreach (var gal in Model.Galleries)
            {
                <div class="gallery__item">
                    <div class="embed">
                        <img src="../Content/Images/team/@gal.GalleryFileName" />
                    </div>
                </div>
            }
        </div>



    </div>
</main>
