
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_SportsClubLayout.cshtml";
}

<h2>Gallery</h2>

<main>
    <div class="gallery-container">
        <div class="event-gallery">
            <div>Date</div>
            <div>Title</div>
            <div class="event-description">Event description</div>
            <div class="event-gallery-images">
                Gallery
            </div>
            <div class="event-gallery-border">Event gallery border</div>
        </div>
    </div>
</main>
