
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_SportsClubLayout.cshtml";
}

<main>

    <div class="dashboard-container">
        <div class="dashboard-item">
            <a href="">Nowy wpis</a>
        </div>
        <div class="dashboard-item">
            <a href="">Lista wpisów</a>
        </div>
        <div class="dashboard-item">
            <a href="">Nowy uzytkownik</a>
        </div>
        <div class="dashboard-item">
            <a href="">Lista użytkowników</a>
        </div>
        <div class="dashboard-item">
            <a href="">Konto</a>
        </div>
        <div class="dashboard-item">
            <a href="">Galeria</a>
        </div>
    </div>

</main>
