
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_SportsClubLayout.cshtml";
}

<h2>List</h2>

<main>
    <div class="news-page">
        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0000.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="wydarzenie-1.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0001.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0002.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0003.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0004.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0000.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0001.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0002.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0003.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>

        <div class="news-details">
            <div class="img-space">
                <img src="~/Content/Images/team/IMG-20210304-WA0004.jpg" />
            </div>
            <div class="date-space">
                <label>12.10.2020</label>
            </div>
            <div class="title-space">
                <label><b>Mistrzostawia kobiet w stylu jakimś tam</b></label>
            </div>
            <div class="localization-space">
                <label>Kozienice, Polska</label>
            </div>
            <div class="description-space">
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </div>
            <div class="see-more-button-space">
                <a class="see-more-button" href="NewsDetails.html">Czytaj...</a>
            </div>
        </div>
    </div>
</main>